@import "../../../styles/abstracts";

nav {
  text-align: center;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      list-style: none;
    }
  }

  a {
    opacity: 0.7;
    color: $blue-gray;

    &:hover { opacity: 1; }
  }

  .active {
    opacity: 1;
    color: $blue;
  }

  .main-links {
    text-transform: uppercase;

    .nav-item:not(:last-child) {
      padding-right: $padding-medium;
    }
  }
}
