// ------------------------------------------------------------
// Normal color declaration
// ------------------------------------------------------------
$blue:      rgb(105, 145, 220);
$red:       rgb(240, 65, 90);
$green:     rgb(75, 175, 110);
$yellow:    rgb(190, 190, 80);
$turquoise: rgb(75, 145, 160);

$very-light-blue-gray: rgb(247, 250, 253);
$light-blue-gray:      rgb(240, 243, 246);
$blue-gray:            rgb(120, 145, 165);

$dark-blue:      rgb(55, 55, 75);
$very-dark-blue: rgb(35, 35, 50);

$white: hsl(0, 0%, 100%);
$very-light-gray: hsl(0, 0%, 95%);

// ------------------------------------------------------------
// Color Palettes
// ------------------------------------------------------------



$text-color: #555;
