// Global (non-color) variables used across the whole project.

// Dimensions
$sidebar-right-width: 350px;
$sidebar-left-width: 350px;
$header-height: 75px;
$footer-height: 100px;
$default-view-width: 1200px;

$padding-small: 15px;
$padding-medium: 25px;
