// Global (non-color) variables used across the whole project.

// Dimensions
$sidebar-right-width: 350px;
$sidebar-left-width: 250px;
$header-height: 60px;
$default-view-width: 1200px;

$padding-tiny: 5px;
$padding-extra-small: 10px;
$padding-small: 15px;
$padding-medium: 25px;
