@import "../../../styles/abstracts";

.login-wrapper {
  min-width: 100%;
  background-color: $white;
  border-radius: 3px;
  @include box-shadow(0, 5px, 25px, rgba(0, 0, 0, 0.05));

  .header {
    border-radius: 3px 3px 0 0;
    padding: $padding-medium;
    background-color: $very-light-blue-gray;
    text-align: center;
    @include box-shadow(0, 1px, 0, rgba(0, 0, 0, 0.05));

    .logo {
      width: 15%;
      height: auto;
    }
  }

  .content { padding: $padding-medium; }

  .footer {
    padding: $padding-medium;
    border-radius: 0 0 3px 3px;
    background-color: $very-light-blue-gray;
    font-size: 0.8rem;
    color: #888;
    @include box-shadow(0, -1px, 0, rgba(0, 0, 0, 0.05));
  }
}

@media (min-width: 768px) {
  .login-wrapper {
    min-width: 350px;
  }
}